@import '../partials/colors';

.btn {
    background-color: $prymary-color;
    border-radius: 0.5rem;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.8rem 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: $secondary-color;
    transform: scale(1.1);
}